footer
    p © Placemat 2012
script(src='/javascripts/jquery.min.js')
script
    window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\\/script>')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/plugins.js')
script(src='/javascripts/script.js')
script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
script(src='/javascripts/bootstrap-carousel.js')
script
    $('.carousel').carousel({
    interval: 3500
    })