html
    head
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
        script(src='../../javascripts/jquery.carousel.min.js')
        script(src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js")
        title= title
    body#doc
        div#hd
            div#logo