extends layout
block prepend content
    .hero-unit
        h1 Here is what we are doing.
        p
            | Placemat is designed to create a dining experience unlike any other.  Amateur chefs can offer a seat at their dinner table, and guests can try new flavors.  
    //
         Example row of columns 
    .row
        .span4
            img(src='/graphics/370x260')
            h2 Show off your cooking skills
            p
                | Perhaps you are an amateur chef looking to show off your budding talent.  You may be looking to fill some seats at your dinner table.  Offer your cooking skills here!
            //
                 <p><a class="btn" href="#">View details &raquo;</a></p> 
        .span4
            img(src='/graphics/370x260')
            h2 An experience you won't find in a restaurant
            p
                | Sometimes the best meals don't come from a restaurant.  Every meal can be a unique experience flavored by the cultural background of those you meet.
            //
                 <p><a class="btn" href="#">View details &raquo;</a></p> 
        .span4
            img(src='/graphics/370x260')
            h2 Take a survey!
            p
                | Now that you know what this is about, perhaps you know what is missing.  Take a minute to give us your opinion.
                a.btn.btn-primary.btn-large(href='http://www.surveymonkey.com/s/NBSBWKN') Take a survey »
            //
                    <p><a class="btn" href="#">View details &raquo;</a></p> 
    hr