extends layout
block prepend content
    .hero-unit
        h1 Let's get in touch
    .row
        .span8
            form.well
                label Your email
                input.span3(type='text', placeholder='email')
                label Your Message:
                textarea#textarea.input-xlarge(rows='3')
                span.help-block Example block-level help text here.
                label.checkbox
                    input(type='checkbox')
                    | Send me shit
                button.btn(type='submit') Submit
    hr