include partials/head
div.yui3-g
    div.yui3-u-1-24
    div.yui3-u-11-12
        div.title
            h1.title=title
    div.yui3-u-1-24
div.yui3-g
    div.yui3-u-3-8
        div.event_left
            div.column_left_content
                div.filters
                    p This is where filters go
                    form(method="GET")
                        input(type="text")
    div.yui3-u-1-24
    div.yui3-u-7-12
        div.event_right
            div.column_right_content
                each event in events
                    div
                        a(href='event/' + event._id)=event.title
                        p=event.date + " " + event.time
                        p=event.city + " " + event.state
                if (events.length == 0)
                    p There doesn't seem to be anything here
                    a(href="/event/create") Create an Event
                    
                    
    
div.spacer
include partials/foot