include partials/header
div#container
    div
        h1 Please Log in
        p You are going to enjoy your experience here.  Help us out with some basic information so we can set you up with local food buddies.
        p
            a(href='/auth/facebook', title='Gotta get some new methods right quick') Log in with Facebook
include partials/footer
