include partials/head
div.yui3-g
    div.yui3-u-1-4
    div.yui3-u-1-2
        div.signup-container
            h1 Please Log in
            p You are going to enjoy your experience here.  Help us out with some basic information so we can set you up with local food buddies.
            p
                a(href='/auth/facebook', title='Gotta get some new methods right quick') Log in with Facebook
    div.yui3-u-1-4
include partials/foot