
/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */



/* ===== Custom Stylez ========================================================
   Author: Gose
   ========================================================================== */

.rightmargin {
	margin-right: 10px
}










